
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius:.25rem
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #3eaf7c;
  background-color: #fff;
  border:1px solid #dee2e6
}

.page-link:hover {
  z-index: 2;
  color: #6ecca1;
  text-decoration: none;
  background-color: #e9ecef;
  border-color:#dee2e6
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow:0 0 0 .2rem rgba(62, 175, 124, .25)
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius:.25rem
}

.page-item:last-child .page-link {
  border-top-right-radius: .25rem;
  border-bottom-right-radius:.25rem
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #3eaf7c;
  border-color:#3eaf7c
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color:#dee2e6
}

.pagination-lg .page-link {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  line-height:1.5
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: .3rem;
  border-bottom-left-radius:.3rem
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: .3rem;
  border-bottom-right-radius:.3rem
}

.pagination-sm .page-link {
  padding: .25rem .5rem;
  font-size: 0.875rem;
  line-height:1.5
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: .2rem;
  border-bottom-left-radius:.2rem
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: .2rem;
  border-bottom-right-radius:.2rem
}