
$_space-base: 16px

$xxs: ($_space-base * .1)
$xs: ($_space-base * .25)
$sm: ($_space-base * .5)
$md: $_space-base
$lg: ($_space-base * 1.5)
$xl: ($_space-base * 2.3)
$xxl: ($_space-base * 3)
$xxxl: ($_space-base * 5)
